html {
	height: 100%}

body {
  height: 100% 

;}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {clear: both;}
.left {float: left;}
.right {float: right;}
.container {
	width: 940px;
	margin: 0 auto;
}
.header {
	position: absolute;
	top: 20px;
	width: 100%;
	padding: 20px 0;
}
.logo {
	float: left;
}
.nav {
	float: right;
}
.nav li {
	float: left;
	margin-right:40px; 
}
.nav li : last-child
{
margin-right:0px; 
}
.nav a {
	font: 14px/14px Arial ;
	color: #fff;

}

.home {height: 560px;
	padding-top: 240px;
	text-align: center;
	color: #fff;

background: #222 url(../img/home.png) no-repeat center bottom;
background-size: cover;}
.home h1 {font:48px/48px Arial, bold; }
.home h2 {font:25px/25px Arial, regular;
margin-bottom: 100px; }
.btn {background: #71b6d5;
padding: 20px 30px;
 border-radius: 8px;
display:inline-block;
text-transform:uppercase;
font: 18px/18px Arial bold;
color: #fff;
cursor: pointer;
}
.what {float: left;
	width: 33.3%
}
.note {
	margin: 90px;
	font : 18px/18px Arial regular;
color :black; 
text-align: center;}
.title {
	font: 20pt/20pt Arial semibold;
	color: black;
}
.desc {
	font: 13pt/13pt Arial regular;
	color: black;
}

